# NOTE:
# This file is committed as an example/template only.
# To use these settings, copy this file to a local, untracked `.env`
# (or another config file used by your tooling) and uncomment the values.
# Do NOT rely on this committed file being loaded automatically.

# AKASHA_SELECTOR_TIMEOUT_MS=2000
# AKASHA_DECOMPOSE_TIMEOUT_MS=15000
# AKASHA_DECOMPOSE_RETRY_TIMEOUT_MS=8000
# AKASHA_MAX_PARALLEL_ROOT_TASKS=2
# AKASHA_MAX_PARALLEL_SUBTASKS=4
# AKASHA_COMPACTION_TIMEOUT_MS=1500
# AKASHA_MEMORY_FAST_PATH=1
# AKASHA_CHILD_FIRST_ACTIVITY_TIMEOUT_MS=15000
# AKASHA_CHILD_COMPLETION_TIMEOUT_MS=300000
# AKASHA_DELEGATION_FIRST_ACTIVITY_TIMEOUT_MS=15000
# AKASHA_DELEGATION_COMPLETION_TIMEOUT_MS=300000
# AKASHA_DELIVERABLE_RETRY_TIMEOUT_MS=150000
